/* static/css/style.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.gift-box {
    background-image: url('closed_box.png');
    width: 400px;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}

.gift-box:hover {
    background-image: url('open_box.png');
}
