<!DOCTYPE html>
<html>
<head>
    <title>Birthday Memories</title>
    <link href="../static/birthday_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    

    <div class="memory-lane">
        <br><br><br><br><br><br><br><br><br><br>
        <div class="header">
            <p> Happy Birthday !!!</p>
            <p>      </p>
        </div>

        <div class="memory-item-s">
            <img src="../static/IMG_6441.jpeg" alt="Memory 1" style="background-size:contain">
            <p>Text for Memory 1</p>
        </div>
       
        <div class="responsive">
            <div class="memory-item">
                <img src="../static/d3/IMG_6135.jpeg"  alt="Memory 4">
                <img src="../static/d3/IMG_6139.jpeg"  alt="Memory 4">
                <img src="../static/d3/IMG_6169.jpeg"  alt="Memory 4">
                <img src="../static/d3/IMG_6245.jpeg"  alt="Memory 4">
                <img src="../static/d3/IMG_6291.jpeg"  alt="Memory 4" style="background-size:cover">
                <img src="../static/d3/IMG_6297.jpeg"  alt="Memory 4" style="background-size:cover">
                <img src="../static/d3/IMG_6328.jpeg"  alt="Memory 4">
                <p>Text for Memory 4</p>
            </div>
        </div>

        <div class="responsive"> 
            <div class="memory-item">
                <img src="../static/d2/IMG_5980.jpeg"  alt="Memory 3" style="background-size:cover">
                <img src="../static/d2/IMG_5990.jpeg"  alt="Memory 3">
                <img src="../static/d2/IMG_5991.jpeg"  alt="Memory 3">
                <img src="../static/d2/IMG_5995.jpeg"  alt="Memory 3">
                <img src="../static/d2/IMG_6033.jpeg"  alt="Memory 3">
                <p>Text for Memory 3</p>
            </div>
        </div>

        <div class="responsive">
            <div class="memory-item">
                <img src="../static/d1/IMG_5821.jpeg"  alt="Memory 2" style="background-size:cover">
                <img src="../static/d1/IMG_5823.jpeg"  alt="Memory 2">
                <img src="../static/d1/IMG_5824.jpeg"  alt="Memory 2">
                <img src="../static/d1/IMG_5830.jpeg"  alt="Memory 2">
                <img src="../static/d1/IMG_5929.jpeg"  alt="Memory 2">
                <p>Text for Memory 2</p>
            </div>
        </div>

    </div>
</body>
</html>
